.article-info {
  margin-top: 80px;
  overflow: hidden; }
  .article-info__main, .article-info__short-description-wrapp {
    display: flex;
    width: 65%;
    margin: 0 auto 90px; }
  .article-info__main-info {
    margin-left: 45px; }
  .article-info__title {
    position: relative;
    font-family: "Aftica Regular";
    font-weight: 100;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 1.5; }
    .article-info__title:after {
      content: '';
      margin-left: 30px;
      width: 70px;
      border-bottom: 5px black solid;
      position: absolute;
      bottom: 20px; }
  .article-info__type-article {
    margin: 15px auto 35px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.7); }
  .article-info__subtitle, .article-info__description, .article-info__additional-description {
    font-family: "Aftica Regular";
    font-size: 10px;
    line-height: 2;
    color: #919191; }
  .article-info__first-img {
    width: 100%;
    height: auto; }
    .article-info__first-img_hidden {
      height: 550px;
      overflow: hidden; }
  .article-info__short-description-wrapp {
    margin-top: 90px; }
  .article-info__short-description {
    display: flex; }
  .article-info__quote {
    min-width: 150px;
    margin: 0 35px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    font-family: Scotch;
    font-size: 16px; }
  .article-info__second-img {
    display: flex;
    justify-content: center; }
    .article-info__second-img-paramount {
      width: 500px;
      height: 350px;
      margin-right: 20px;
      background-size: cover; }
    .article-info__second-img-minor {
      width: 400px;
      height: 350px;
      background-size: cover; }
  .article-info__additional-info {
    margin: 90px auto;
    padding: 0 15% 0 33%; }
  .article-info__additional-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px; }

@media screen and (max-width: 1165px) {
  .article-info__title {
    font-size: 36px; }
  .article-info__short-description-wrapp, .article-info__main {
    width: 85%; }
  .article-info__additional-info {
    margin: 90px auto;
    padding: 0 15%; } }
@media screen and (max-width: 918px) {
  .article-info__main {
    margin: 0 auto 50px; }
    .article-info__main-info {
      margin: 0 25px; }
  .article-info__title:after {
    position: unset; }
  .article-info__first-img_hidden {
    margin: 0 25px; }
  .article-info__short-description-wrapp {
    margin: 50px auto; }
  .article-info__second-img-paramount {
    width: 360px;
    height: 300px; }
  .article-info__second-img-minor {
    width: 280px;
    height: 300px; }
  .article-info__additional-info {
    margin: 50px auto;
    padding: 0 50px; }
  .article-info .person-info {
    margin: 10px 0 0; } }
@media screen and (max-width: 776px) {
  .article-info__first-img_hidden {
    height: 400px; }
  .article-info__short-description-wrapp {
    flex-direction: column;
    align-items: center; }
    .article-info__short-description-wrapp .person-info {
      margin: 10px 0 20px; }
  .article-info__short-description-wrapp, .article-info__main {
    width: 100%; }
  .article-info__short-description {
    padding: 0 25px; }
  .article-info__quote {
    margin: 0 20px 0 0; }
  .article-info__second-img-paramount {
    width: 260px;
    height: 200px; }
  .article-info__second-img-minor {
    width: 200px;
    height: 200px; }
  .article-info__additional-info {
    padding: 25px; } }
@media screen and (max-width: 576px) {
  .article-info {
    margin-top: 0; }
    .article-info__main {
      flex-direction: column;
      margin-bottom: 30px; }
    .article-info__title {
      font-size: 20px;
      text-align: center; }
    .article-info__first-img_hidden {
      height: 250px; }
    .article-info .person-info {
      margin: 10px 10px 15px;
      display: flex;
      justify-content: center; }
    .article-info__short-description-wrapp {
      margin: 0; }
    .article-info__short-description-wrapp .person-info {
      display: none; }
    .article-info__short-description {
      padding: 30px 25px; }
    .article-info__quote {
      margin: 0 20px 0 0;
      display: none; }
    .article-info__additional-info {
      margin: 0; }
    .article-info__second-img-paramount {
      width: 180px;
      height: 150px; }
    .article-info__second-img-minor {
      width: 160px;
      height: 150px; } }
@media screen and (max-width: 448px) {
  .article-info__title {
    margin: 25px 0; }
  .article-info__type-article {
    margin: 15px auto; }
  .article-info__first-img {
    width: 320px;
    height: auto; }
  .article-info__short-description {
    padding: 30px 5px; }
  .article-info__first-img_hidden {
    width: 320px;
    height: 200px;
    margin: 0 auto; }
  .article-info__second-img-paramount {
    width: 130px;
    height: 100px; }
  .article-info__second-img-minor {
    width: 120px;
    height: 100px; }
  .article-info__additional-info {
    padding: 25px 5px; } }

/*# sourceMappingURL=style.css.map */
