.article-info {
  margin-top: 80px;
  overflow: hidden;

  &__main, &__short-description-wrapp {
    display: flex;
    width: 65%;
    margin: 0 auto 90px;
  }

  &__main-info {
    margin-left: 45px;
  }

  &__title {
    position: relative;
    font-family: "Aftica Regular";
    font-weight: 100;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 1.5;

    &:after {
      content: '';
      margin-left: 30px;
      width: 70px;
      border-bottom: 5px black solid;
      position: absolute;
      bottom: 20px;
    }
  }

  &__type-article {
    margin: 15px auto 35px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.7);
  }

  &__subtitle, &__description, &__additional-description {
    font-family: "Aftica Regular";
    font-size: 10px;
    line-height: 2;
    color: #919191;
  }

  &__first-img {
    width: 100%;
    height: auto;

    &_hidden {
      height: 550px;
      overflow: hidden;
    }
  }



  &__short-description-wrapp {
    margin-top: 90px;
  }

  &__short-description {
    display: flex;
  }

  &__quote {
    min-width: 150px;
    margin: 0 35px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    font-family: Scotch;
    font-size: 16px;
  }

  &__second-img {
    display: flex;
    justify-content: center;

    &-paramount {
      width: 500px;
      height: 350px;
      margin-right: 20px;
      background-size: cover;
    }

    &-minor {
      width: 400px;
      height: 350px;
      background-size: cover;
    }
  }

  &__additional-info {
    margin: 90px auto;
    padding: 0 15% 0 33%;
  }

  &__additional-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 1165px){
  .article-info {

    &__title {
      font-size: 36px;
    }

    &__short-description-wrapp, &__main {
      width: 85%;
    }

    &__additional-info {
      margin: 90px auto;
      padding: 0 15%;
    }
  }
}

@media screen and (max-width: 918px){
  .article-info {

    &__main {
      margin: 0 auto 50px;

      &-info {
        margin: 0 25px;
      }
    }

    &__title {
      &:after {
        position: unset;
      }
    }

    &__first-img_hidden {
      margin: 0 25px;
    }

    &__short-description-wrapp {
      margin: 50px auto;
   }

    &__second-img-paramount {
      width: 360px;
      height: 300px;
    }

    &__second-img-minor {
      width: 280px;
      height: 300px;
    }

    &__additional-info {
      margin: 50px auto;
      padding: 0 50px;
    }

    & .person-info {
      margin: 10px 0 0;
    }
  }
}

@media screen and (max-width: 776px){
  .article-info {

    &__first-img_hidden {
      height: 400px;
    }
     &__short-description-wrapp {
       flex-direction: column;
       align-items: center;

       & .person-info {
         margin: 10px 0 20px;
       }
     }

    &__short-description-wrapp, &__main {
      width: 100%;
    }

    &__short-description {
      padding:  0 25px ;
    }

    &__quote {
      margin: 0 20px 0 0;
    }

    &__second-img-paramount {
      width: 260px;
      height: 200px;
    }

    &__second-img-minor {
      width: 200px;
      height: 200px;
    }

    &__additional-info {
      padding: 25px;
    }


  }
}


@media screen and (max-width: 576px){
  .article-info {
    margin-top: 0;

    &__main {
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 20px;
      text-align: center;
    }

    &__first-img {
      &_hidden {
        height: 250px;
      }
    }

    & .person-info {
      margin: 10px 10px 15px;
      display: flex;
      justify-content: center;
    }

    &__short-description-wrapp  {
      margin: 0;
    }

    &__short-description-wrapp .person-info {
      display: none;
    }

    &__short-description {
      padding: 30px 25px;
    }

    &__quote {
      margin: 0 20px 0 0;
      display: none;
    }

    &__additional-info {
      margin: 0;
    }

    &__second-img-paramount {
      width: 180px;
      height: 150px;
    }

    &__second-img-minor {
      width: 160px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 448px){
  .article-info {

    &__title {
      margin: 25px 0;
    }

    &__type-article {
      margin: 15px auto;
    }

    &__first-img {
      width: 320px;
      height: auto;
    }

    &__short-description {
      padding: 30px 5px;
    }

    &__first-img_hidden {
      width: 320px;
      height: 200px;
      margin: 0 auto;
    }

    &__second-img-paramount {
      width: 130px;
      height: 100px;
    }

    &__second-img-minor {
      width: 120px;
      height: 100px;
    }

    &__additional-info {
      padding: 25px 5px;
    }
  }
}
