.costumer-groups{
  display: flex;
  justify-content: center;

  &__btn, &__btn-active{
    font-weight: 500;
    font-family: Seconda;
    text-transform: uppercase;
    padding: 6px 12px;
    font-size: 6px;
    letter-spacing: 1.1px;
    margin: 36px 0;
    border: none;
    outline: none;
    transform: rotateX(33deg);
  }

  &__btn-active{
    font-weight: 900;
    border-bottom: 1.3px black solid;
  }
}