.profile__main {
  display: flex;
  margin: 90px 75px;
  max-height: 550px; }
  .profile__main-info {
    min-width: calc(100% - 450px);
    padding: 20px 80px;
    box-sizing: border-box; }
  .profile__main-img {
    min-width: 480px;
    max-height: 550px;
    overflow: hidden; }
    .profile__main-img > img {
      width: 100%; }
  .profile__main-data {
    max-width: 65%; }
.profile__btn-s {
  display: flex;
  margin-bottom: 45px;
  min-height: 35px; }
  .profile__btn-s-category {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    color: #919191;
    cursor: pointer; }
    .profile__btn-s-category:hover {
      color: black; }
    .profile__btn-s-category_active {
      color: black;
      border-bottom: 1.5px black solid;
      cursor: no-drop; }
.profile__title {
  font-family: Seconda;
  font-size: 49px;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 20px;
  margin-bottom: 25px;
  min-height: 90px; }
.profile__last-awards {
  display: flex;
  align-items: center; }
.profile__award-icon {
  width: 15px;
  height: 15px;
  padding: 0 15px 0 25px; }
.profile__description {
  max-width: 85%;
  max-height: calc(100% - 195px);
  overflow: auto; }
.profile__short-description, .profile__main-description {
  font-family: Seconda;
  padding-left: 25px; }
.profile__short-description {
  font-size: 18px;
  font-weight: 600;
  max-width: 80%;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 25px; }
.profile__main-description {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 45px;
  color: #919191; }
.profile__list-awards {
  font-family: Seconda;
  list-style-type: decimal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-left: 40px;
  max-width: 75%; }
.profile__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30px; }
  .profile__buttons > a {
    color: black;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .profile__buttons > a:hover {
      color: #b5d2d3; }
.profile__press {
  display: flex; }
  .profile__press-img {
    max-width: calc(50% - 50px);
    max-height: 630px;
    overflow: hidden; }
    .profile__press-img > img {
      width: 100%; }
  .profile__press-title {
    position: relative;
    font-size: 45px;
    color: white;
    padding-bottom: 25px;
    margin-bottom: 60px; }
    .profile__press-title:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 120px;
      border-bottom: 2px white solid; }
  .profile__press-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Seconda;
    max-width: 50%;
    padding: 0 0 0 165px;
    box-sizing: border-box;
    background: url("../../img/profile-bg.jpg");
    background-size: cover;
    margin-left: -20px; }
.profile__article {
  display: flex;
  max-width: 85%;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer; }
  .profile__article:hover .profile__article-title {
    color: #b5d2d3; }
  .profile__article:hover .profile__article-date {
    color: white; }
  .profile__article-title {
    font-family: Seconda;
    color: white; }
  .profile__article-date {
    font-family: Seconda;
    color: #919191; }
  .profile__article-img {
    min-width: 160px;
    max-width: 160px;
    height: auto; }
    .profile__article-img > img {
      width: 100%; }
  .profile__article-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px; }
.profile__contact {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .profile__contact-title {
    position: relative;
    font-size: 47px;
    font-weight: 100;
    text-transform: capitalize;
    padding: 0 0 25px; }
    .profile__contact-title:after {
      position: unset;
      content: "";
      bottom: 0;
      left: 0;
      width: 120px;
      border-bottom: 2px black solid; }
  .profile__contact-data {
    width: 420px;
    box-shadow: 5px 5px 9px 3px #b5d2d3;
    padding: 60px;
    font-family: Seconda; }
  .profile__contact-subtitle {
    font-size: 40px;
    font-weight: 100;
    margin: 25px 0 15px;
    color: #b5d2d3;
    line-height: 1; }
    .profile__contact-subtitle:first-child {
      margin-top: 0; }
  .profile__contact-description {
    font-size: 22px;
    margin-bottom: 35px;
    color: #919191;
    text-decoration: none; }

.similar-clients__title {
  position: relative;
  font-family: Seconda;
  font-size: 47px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 0 25px;
  margin: 65px 0 65px 150px; }
  .similar-clients__title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 120px;
    border-bottom: 2px black solid; }
.similar-clients .customer-groups__btn-wrapper {
  display: none; }

@media screen and (max-width: 1200px) {
  .profile__btn-s {
    margin-bottom: 20px;
    min-height: 35px; }
  .profile__title {
    font-size: 40px;
    margin-bottom: 0;
    min-height: 70px; }
  .profile__description {
    max-width: 100%;
    max-height: calc(100% - 125px);
    overflow: auto; } }
@media screen and (max-width: 1120px) {
  .profile__main {
    max-height: 480px;
    margin: 90px 10px; }
    .profile__main-img {
      min-width: 390px; }
    .profile__main-info {
      padding: 20px 30px; }
  .profile__title {
    margin-bottom: 10px;
    min-height: 0; }
  .profile__description {
    max-height: calc(100% - 115px); }
  .profile__short-description {
    font-size: 16px;
    max-width: 85%;
    margin-bottom: 20px; }
  .profile__list-awards {
    max-width: 100%; }
  .profile__press-info {
    padding: 0 0 0 90px; } }
@media screen and (max-width: 1011px) {
  .profile__main {
    margin: 90px 10px; }
  .profile__press-title {
    font-size: 36px;
    padding-bottom: 20px;
    margin-bottom: 50px; }
  .profile__press-info {
    max-width: 48%;
    padding: 65px 0 65px 65px; }
  .profile__press-img {
    max-width: 53%; }
  .profile__article {
    max-width: 95%; } }
@media screen and (max-width: 902px) {
  .profile__main {
    max-height: 395px; }
    .profile__main-img {
      min-width: 330px;
      max-height: 400px; }
    .profile__main-info {
      min-width: calc(100% - 340px);
      padding: 0 30px; }
  .profile__title {
    font-size: 28px; }
  .profile__description {
    max-height: calc(100% - 125px); }
  .profile__main-description {
    margin-top: 20px; }
  .profile__list-awards {
    font-size: 16px;
    line-height: 1.4;
    padding-left: 35px;
    max-width: 100%; }

  .similar-clients__title {
    margin: 45px 0 45px 55px; } }
@media screen and (max-width: 834px) {
  .profile__press-img {
    display: none; }
  .profile__press-info {
    width: 100%;
    min-width: 110%; } }
@media screen and (max-width: 775px) {
  .profile__main {
    display: flex;
    justify-content: space-between;
    max-height: max-content;
    padding: 0 15px; }
    .profile__main-img {
      display: none; }
  .profile__btn-s {
    margin-right: -60px;
    justify-content: center; }
  .profile__description {
    max-height: max-content; }
  .profile__press-info {
    padding: 65px; }
  .profile__title, .profile__short-description, .profile__main-info, .profile__main-description {
    padding-left: 0; } }
@media screen and (max-width: 600px) {
  .profile__main {
    margin: 40px 10px; }
  .profile__article {
    max-height: 115px; }
  .profile__press-info {
    padding: 30px; }
  .profile__contact {
    padding: 15px;
    align-items: flex-start; }
    .profile__contact-title {
      position: relative;
      padding: 0 0 25px;
      margin: 0 0 45px 40px;
      font-size: 35px; }
      .profile__contact-title:after {
        position: absolute; }
    .profile__contact-data {
      width: 100%;
      box-sizing: border-box;
      padding: 40px; }
    .profile__contact-subtitle {
      font-size: 30px;
      margin: 45px 0 15px; }
    .profile__contact-description {
      font-size: 20px; }

  .similar-clients__title {
    font-size: 35px;
    padding: 0 0 15px; } }
@media screen and (max-width: 476px) {
  .profile__buttons {
    display: none; }
  .profile__main-info {
    padding: 0; }
  .profile__btn-s {
    margin-right: 0; }
  .profile__press-title {
    font-size: 26px;
    margin-bottom: 30px; }
  .profile__press-info {
    padding: 25px; }
  .profile__article-img {
    min-width: 120px;
    max-width: 120px;
    height: 80px; }
  .profile__article-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px; }
  .profile__contact {
    padding: 15px 0; }
    .profile__contact-title {
      font-size: 28px;
      padding: 0 0 20px;
      margin: 0 0 45px 15px; }
    .profile__contact-data {
      padding: 20px; }
    .profile__contact-subtitle {
      font-size: 24px;
      margin: 35px 0 15px; }
    .profile__contact-description {
      font-size: 16px; }

  .similar-clients__title {
    font-size: 28px;
    margin: 45px 0 45px 15px; } }
@media screen and (max-width: 375px) {
  .profile__article-title {
    max-width: 156px; } }

/*# sourceMappingURL=style.css.map */
