.clients {
  &__slider {
    display: flex;
  }

  &__info-page {
    display: flex;
    justify-content: space-between;
    background: url("../../img/clients-bg.jpg");
    background-size: cover;
    margin: -90px 0 0 -20px;
    width: 62%;
    padding: 120px 0 120px 45px;
    box-sizing: border-box;
  }

  &__social-numb {
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    & > a {
      color: black;
      padding: 5px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: #919191;
      }
    }
  }

  &__divider {
    height: 50px;
    border-left: 2px black solid;
  }

  &__numb-img {
    font-family: Seconda;
    font-size: 14px;
    transform: rotate(-90deg);
  }

  &__info-wrapper {
    display: flex;
    align-items: center;
    min-width: 83%;
    padding-left: 110px;
    box-sizing: border-box;
    background: white;
    z-index: 1;
    height: 410px;
  }

  &__info-wrapper_width {
    width: max-content;
  }
  &__info-title {
    font-family: Seconda;
    font-size: 70px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1.5px;
  }

  &__info-description {
    position: relative;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 15px;

    &:after {
      content: "";
      position: absolute;
      width: 65px;
      border-bottom: 4px #b5d2d3 solid;
      right: 0;
      bottom: 0;
    }
  }

  &__btn-about {
    display: inline-block;
    padding: 15px 70px;
    margin: 30px 0 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: #b5d2d3;
    border-radius: 3px;
    color: white;
    cursor: pointer;

    &:hover {
      background: rgba(181, 210, 211, 0.9);
    }
  }

  &__person {
    position: relative;
    min-width: 470px;
    margin: 30px 0 50px;
    height: 530px;
    overflow: hidden;

    &-slide {
      position: absolute;
      width: 100%;
      height: auto;
    }

    &-btn {
      position: absolute;
      bottom: 0;
      min-width: 400px;
      height: 120px;
      background: rgba(255, 255, 255, 0.9);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 90px;
    }

    &-description {
      position: relative;
      text-transform: uppercase;
      font-family: Seconda;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1.2px;

      &:after {
        content: "";
        position: absolute;
        width: 66px;
        height: 100%;
        border-bottom: 1px #b5d2d3 solid;
        left: -90px;
        transform: translateY(calc(-50% + 1px));
      }
    }

    &-name {
      font-family: Seconda;
      text-transform: capitalize;
      font-size: 30px;
      margin-top: 10px;
    }
  }

  &__control-slider {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    height: 120px;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    background: white;
  }

  &__control-left,
  &__control-right {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    padding: 5px;
    cursor: pointer;

    & > svg {
      min-width: 15px;
    }

    &:hover {
      color: #b5d2d3;
    }
  }

  &__control-left {
    margin-bottom: 5px;
  }

  &__list-wrapper {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__list-buttons {
    display: flex;
    max-width: 1200px;
  }

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  & .client__card {
    min-width: 300px;
    height: 310px;
    width: 300px;
  }

  &__connect {
    margin-top: 300px;

    &-info {
      position: relative;
      margin-left: 25px;
      padding-left: 150px;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 50px;
        background: #b5d2d3;
        left: 0;
        transform: translateX(-100%);
      }
    }

    &-title {
      margin-bottom: 130px;
      font-family: Seconda;
      font-size: 70px;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }

    &-img {
      width: 70%;
      height: 100%;
      position: absolute;
      bottom: 50%;
      background-size: cover;
      z-index: -1;
      left: 340px;
    }

    &-decor {
      position: absolute;
      min-width: 330px;
      height: 225px;
      background: #b5d2d3;
      right: -20px;
      top: 0;
      z-index: -1;
    }
  }

  &__article {
    &-quote {
      font-size: 20px;
      line-height: 1.5;
      max-width: 440px;
      max-height: 120px;
      padding-right: 70px;
      overflow: scroll;
      color: #919191;
    }

    &-info {
      margin: 0 220px 0 190px;
      display: flex;
      align-items: end;
      padding-bottom: 30px;
    }

    &-img {
      position: absolute;
      width: 240px;
      height: 317px;
      right: -20px;
      transform: translateY(calc(-100% - 20px));
      background-size: cover;
      filter: grayscale(0.9);
    }
  }

  & .article {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .article__title {
      color: #b5d2d3;
    }

    &__img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-size: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
    }

    &__title {
      font-family: Seconda;
      font-size: 14px;
      text-transform: capitalize;
      margin-bottom: 7px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }

    &__date {
      font-size: 14px;
      font-weight: 400;
      color: #919191;
    }
  }

  & .connect__buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 251px;
    top: 35px;

    & > a {
      padding: 5px;
      margin-bottom: 15px;
      color: white;

      &:hover {
        color: black;
      }

      & > svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  & .random {
    margin: 40px auto;
    width: calc(100% - 50px);

    &__item {
      max-height: 100px;
      width: 30%;

      &:nth-child(3n) {
        margin-bottom: 30px;
      }
    }

    &__img {
      min-width: 150px;
      height: 100px;
    }

    &__info {
      max-width: calc(100% - 150px);
    }

    &__title {
      font-size: 14px;
      white-space: unset;
      overflow: scroll;
    }

    &__date {
      font-size: 12px;
    }
  }

  .clients {
    &__news-title {
      position: relative;
      text-align: center;
      font-family: Seconda;
      font-size: 46px;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 45px 0 20px;
      margin-bottom: 45px;

      &:after {
        position: absolute;
        content: "";
        width: 105px;
        border-bottom: 2px black solid;
        transform: translateX(-185px);
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1245px) {
  .clients {
    &__card-wrapper {
      max-width: 900px;
    }

    & .client__card {
      min-width: 225px;
      height: 275px;
      width: 225px;
    }
  }
}

@media screen and (max-width: 1162px) {
  .clients {
    & .random {
      &__item:nth-child(3),
      &__item:nth-child(4) {
        margin-bottom: 30px;
      }

      &__img {
        min-width: 100px;
        height: 70px;
      }

      &__info {
        max-width: calc(100% - 100px);
        height: 70px;
      }

      &__title {
        font-size: 12px;
      }

      &__date {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .clients {
    &__info-wrapper {
      justify-content: center;
      padding: 0;
    }

    &__info-page {
      padding: 120px 0 120px 25px;
    }

    &__info-title {
      font-size: 60px;
    }

    &__info-description:after {
      width: 40px;
      border-bottom: 3px #b5d2d3 solid;
    }

    &__connect {
      &-info {
        padding-left: 65px;
      }
      &-img {
        left: 175px;
      }
    }

    &__article {
      &-info {
        margin: 0 220px 0 110px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .clients {
    &__person {
      min-width: 400px;
      margin: 30px 0 50px;
      height: 490px;

      &-btn {
        height: 80px;
        min-width: 340px;
      }

      &-name {
        font-size: 24px;
      }
    }

    &__info-title {
      font-size: 50px;
    }

    &__info-description {
      font-size: 12px;

      &:after {
        width: 30px;
        border-bottom: 2px #b5d2d3 solid;
      }
    }

    &__control-slider {
      min-width: 60px;
      height: 80px;
    }

    &__card-wrapper {
      max-width: 800px;
    }

    & .client__card {
      min-width: 200px;
      height: 245px;
      width: 200px;
    }

    &__connect {
      &-img {
        left: 235px;
      }
    }

    &__article {
      &-img {
        transform: translateY(calc(-100% - 85px));
      }

      &-info {
        margin: 0 70px 0 170px;
        align-items: flex-end;
      }
    }

    & .random {
      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media screen and (max-width: 871px) {
  .clients {
    &__social-numb {
      height: 365px;
    }

    &__info-wrapper {
      height: 365px;
    }

    &__info-page {
      padding: 100px 0 100px 25px;
    }

    &__info-title {
      font-size: 40px;
    }

    &__info-description {
      font-size: 10px;

      &:after {
        display: none;
      }
    }

    &__person {
      min-width: 360px;
      margin: 10px 0 30px;
      height: 445px;

      &-btn {
        height: 80px;
        min-width: 300px;
      }
    }

    &__card-wrapper {
      max-width: 600px;
    }

    & .client__card {
      min-width: 300px;
      height: 365px;
      width: 300px;
    }

    &__connect {
      margin-top: 210px;

      &-img {
        width: 70%;
        height: 85%;
        left: 135px;
      }

      &-title {
        font-size: 50px;
      }

      &-decor {
        min-width: 265px;
        height: 200px;
        top: 28px;
      }
    }

    & .connect__buttons {
      right: 200px;
      top: 63px;

      & > a {
        margin-bottom: 10px;
      }
    }

    &__article {
      &-info {
        margin: 0 30px 0 70px;
      }

      &-img {
        width: 200px;
        height: auto;
      }
    }

    & .random {
      &__item {
        width: 50%;
      }

      &__info {
        max-width: calc(100% - 140px);
      }
    }
  }
}

@media screen and (max-width: 762px) {
  .clients {
    &__person {
      min-width: 300px;
      height: 365px;
      margin: -20px 0 0;

      &-name {
        font-size: 20px;
      }

      &-btn {
        height: 70px;
        min-width: 250px;
        padding-left: 50px;
      }
    }

    &__info-page {
      padding: 70px 0 70px 25px;
    }

    &__info-wrapper {
      min-width: 295px;
    }

    &__control-slider {
      min-width: 50px;
      height: 70px;
    }

    &__connect {
      &-title {
        font-size: 38px;
      }

      &-decor {
        min-width: 225px;
        height: 195px;
        top: 35px;
      }

      &-info {
        padding-left: 15px;
      }

      &-img {
        width: 80%;
        height: 65%;
        left: 85px;
        bottom: 64%;
      }
    }

    &__article {
      &-img {
        width: 165px;
      }

      &-info {
        margin: 0 -5px 0 70px;
      }

      &-quote {
        font-size: 16px;
        padding-right: 20px;
      }
    }

    & .connect__buttons {
      right: 155px;
    }
  }
}

@media screen and (max-width: 684px) {
  .clients {
    &__social-numb {
      height: 310px;
    }

    &__info-wrapper {
      min-width: 240px;
      height: 310px;
    }

    &__info-title {
      font-size: 30px;
    }

    &__btn-about {
      padding: 10px 50px;
    }

    &__person {
      min-width: 260px;
      height: 310px;
      margin: -20px 0 0;

      &-btn {
        min-width: 225px;
        padding-left: 40px;
      }
    }

    &__control-slider {
      min-width: 35px;
    }

    &__card-wrapper {
      max-width: 550px;
    }

    & .client__card {
      min-width: 275px;
      height: 335px;
      width: 275px;
    }
  }
}

@media screen and (max-width: 592px) {
  .clients {
    &__social-numb {
      height: 245px;
    }

    &__buttons > a {
      margin-bottom: 10px;
      &:first-child {
        margin-top: -9px;
      }
    }

    &__divider {
      height: 30px;
      border-left: 1px black solid;
    }

    &__numb-img {
      font-size: 10px;
    }

    &__info-page {
      width: 67%;
      padding: 70px 0 55px 10px;
    }

    &__info-wrapper {
      min-width: calc(100% - 30px);
      height: 245px;
    }

    &__info-title {
      font-size: 24px;
    }

    &__info-description {
      font-size: 8px;
      margin-top: 10px;
      letter-spacing: 1px;
    }

    &__btn-about {
      padding: 10px 0;
      font-size: 8px;
      width: 100%;
      text-align: center;
    }

    &__person {
      min-width: 200px;
      height: 245px;

      &-name {
        font-size: 14px;
      }

      &-btn {
        min-width: 175px;
        padding-left: 10px;
        height: 50px;
      }

      &-description {
        font-size: 8px;
      }
    }

    &__control-slider {
      min-width: 30px;
      height: 50px;
    }

    &__control-left > svg,
    &__control-right > svg {
      min-width: 10px;
    }

    &__list {
      align-items: center;
    }

    &__card-wrapper {
      max-width: 430px;
    }

    & .client__card {
      min-width: 215px;
      height: 265px;
      width: 215px;
    }

    &__connect {
      margin-top: 50px;

      &-title {
        font-size: 30px;
      }

      &-img {
        width: calc(100% - 225px);
        height: 123px;
        left: 15px;
        bottom: 112px;
      }

      &-decor {
        min-width: 215px;
        height: 195px;
        top: 0;
      }
    }

    &__article {
      &-img {
        transform: none;
        top: 50px;
      }

      &-info {
        margin: 0 -22px 0 0;
        padding-bottom: 0;
      }

      &-quote {
        font-size: 12px;
        min-height: 100px;
        max-height: 110px;
      }
    }

    & .connect__buttons {
      right: 163px;
      top: 30px;

      & > a > svg {
        width: 10px;
        height: 10px;
      }
    }

    & .article {
      &__img {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
      }

      &__title {
        font-size: 12px;
      }

      &__date {
        font-size: 12px;
      }
    }

    & .random {
      &__item {
        width: 100%;
      }

      &__info {
        width: calc(100% - 100px);
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .clients {
    &__info-page {
      padding: 60px 0 35px 10px;
    }
    &__social-numb {
      height: 185px;
    }

    &__buttons > a {
      margin-bottom: 5px;
    }

    &__divider {
      height: 25px;
    }

    &__info-wrapper {
      height: 185px;
    }

    &__info-description {
      font-size: 7px;
      margin-top: 5px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    &__info-title {
      font-size: 22px;
    }

    &__person {
      min-width: 150px;
      height: 225px;
      margin-top: -30px;

      &-name {
        font-size: 12px;
        margin-top: 2px;
      }

      &-description {
        font-size: 7px;
        text-transform: capitalize;
      }

      &-btn {
        min-width: 125px;
        padding-left: 5px;
        height: 40px;
      }
    }

    &__control-slider {
      min-width: 25px;
      height: 40px;
    }

    &__control-left,
    &__control-right {
      margin-bottom: 0;
    }

    &__card-wrapper {
      max-width: 320px;
    }

    & .client__card {
      min-width: 160px;
      height: 195px;
      width: 160px;
    }

    & .customer-groups__btn,
    .customer-groups__btn-active {
      padding: 5px 9px;
      font-size: 9px;
      margin: 25px 0;
    }

    &__connect {
      &-info {
        margin-left: 5px;
      }
      &-title {
        font-size: 22px;
        margin-bottom: 100px;
      }

      &-img {
        display: none;
      }

      &-decor {
        min-width: 165px;
      }
    }

    &__article {
      &-img {
        top: 20px;
        width: 125px;
      }

      &-info {
        align-items: flex-start;
        flex-direction: column-reverse;
      }

      &-quote {
        font-size: 12px;
        min-height: 0;
        max-height: 55px;
      }
    }

    & .connect__buttons {
      right: 115px;
      top: 27px;
    }

    & .article {
      margin-bottom: 20px;

      &__img {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
      }

      &__info {
        margin-left: 10px;
      }

      &__title,
      &__date {
        font-size: 10px;
        max-width: 100px;
      }
    }
  }
}
