.person {
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative; }
  .person:after {
    content: "";
    position: absolute;
    right: -76%;
    top: -32%;
    height: 100%;
    width: 100%;
    background: #b5d2d3;
    z-index: -1; }
  .person__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
  .person__name {
    font-size: 52px;
    margin-left: 150px;
    padding-top: 142px;
    color: rgba(0, 0, 0, 0.82); }
    .person__name_font {
      font-family: "Aftica Regular";
      font-weight: 100;
      z-index: 1;
      min-width: 350px;
      letter-spacing: 2px; }
  .person__role {
    font-family: Aftica Regular;
    margin-left: 150px;
    padding: 50px 0 0 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
    color: gray;
    z-index: 1; }
  .person__btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px; }
    .person__btn-arrow_disp-inline {
      display: flex;
      margin: 0 auto; }
    .person__btn-left, .person__btn-right, .person__btn-right_disp-none, .person__btn-left_disp-none {
      cursor: pointer;
      background-color: white;
      width: 20px;
      border: none;
      margin: 10px;
      color: grey; }
    .person__btn-left, .person__btn-right {
      display: grid;
      outline: none; }
    .person__btn-arrow_disp-none {
      display: none; }
    .person__btn-left:hover, .person__btn-right:hover {
      border-radius: 2px;
      color: black; }
  .person__btn-list {
    display: flex;
    flex-direction: column; }
  .person__btn-item {
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    margin-left: 25px;
    width: 35px;
    height: 35px;
    color: grey; }
    .person__btn-item:hover {
      color: #b5d2d3; }
  .person__btn-item-active {
    font-weight: 700; }
  .person__btn-item-active:hover {
    color: grey; }
  .person__btn-item-active:before {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 2px #b5d2d3 solid;
    left: -45px;
    top: 17px; }
  .person__img {
    margin: 55px 4% 0 24%;
    height: 505px;
    overflow: hidden;
    position: relative;
    width: 72%; }
    .person__img > img {
      width: 100%; }
  .person__link {
    font-family: Aftica Regular;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    padding: 20px 50px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    z-index: 10; }
    .person__link:hover {
      color: #b5d2d3; }

@media screen and (max-width: 1300px) {
  .person__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%; } }
@media screen and (max-width: 940px) {
  .person__name {
    margin-left: 100px; }
  .person__role {
    margin-left: 100px; } }
@media screen and (max-width: 830px) {
  .person {
    display: inline-block;
    margin-top: 125px; }
    .person:after {
      position: unset; }
    .person__br-none {
      display: none; }
    .person__content {
      width: 100%;
      justify-content: space-between;
      margin-top: -120px; }
    .person__role {
      font-size: 10px;
      padding: 20px;
      margin: auto;
      text-align: center; }
    .person__name {
      padding-top: 15px;
      margin: auto;
      line-height: 0; }
    .person__name_font {
      font-size: 34px;
      min-width: 0;
      margin-bottom: 20px; }
    .person__btn {
      justify-content: center;
      margin-top: -15px; }
      .person__btn-item {
        margin: 5px 10px; }
        .person__btn-item-active:before {
          left: 7px; }
      .person__btn-list {
        flex-direction: unset; }
      .person__btn-left, .person__btn-right {
        margin: 15px 30px; }
      .person__btn-arrow_disp-none {
        display: flex;
        justify-content: center; }
      .person__btn-arrow_disp-inline {
        display: none; }
    .person__img {
      margin: auto;
      width: 95%;
      height: 380px; }
    .person__link {
      padding: 15px 30px; } }
@media screen and (max-width: 500px) {
  .person__role {
    padding: 15px; }
  .person__name_font {
    font-size: 20px; }
  .person__btn-item {
    margin-left: 10px; }
  .person__link {
    font-size: 10px;
    padding: 7px 12px; }
  .person__btn-arrow {
    margin-right: 10px; }
  .person__btn-left, .person__btn-right {
    margin: 5px; } }
@media screen and (max-width: 408px) {
  .person {
    margin-top: 90px; }
    .person__name_font {
      font-size: 20px;
      margin-bottom: 10px; }
    .person__img {
      margin-top: -10px; } }
@media screen and (height: 1366px) and (width: 1024px) {
  .person__name_font {
    font-size: 45px; }
  .person__role {
    padding-top: 0;
    margin: 100px 0 100px 20vw; }
  .person__btn-list {
    justify-content: space-between;
    height: 370px; }
  .person__img {
    height: 63vh; } }

/*# sourceMappingURL=style.css.map */
