.person {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 70vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    z-index: 1;
  }

  &__name {
    font-size: 35px;
    margin-left: 20vw;
    padding-top: 80px;

    &_font {
      font-family: Nominee Regular;
      font-weight: lighter;
      z-index: 1;
      min-width: 350px;
      letter-spacing: 2px;
    }
  }

  &__role {
    font-family: Aftica Regular;
    margin-left: 20vw;
    padding-top: 50px;
    min-width: 175px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: gray;
    z-index: 1;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;

    &-arrow_disp-inline {
      display: flex;
      margin: 0 auto;
    }

    &-left,
    &-right,
    &-right_disp-none,
    &-left_disp-none {
      cursor: pointer;
      background-color: white;
      width: 20px;
      border: none;
      margin: 10px;
      color: grey;
    }

    &-left,
    &-right {
      display: grid;
      outline: none;
    }

    &-arrow_disp-none {
      display: none;
    }

    &-left:hover,
    &-right:hover {
      border-radius: 2px;
      color: black;
    }
  }

  &__btn-list {
    display: flex;
    flex-direction: column;
  }

  &__btn-item {
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    margin-left: 25px;
    width: 35px;
    height: 35px;
    color: grey;

    &:hover {
      color: #b5d2d3;
    }
  }

  &__btn-item-active {
    font-weight: 700;
  }

  &__btn-item-active:hover {
    color: grey;
  }

  &__btn-item-active:before {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 2px #b5d2d3 solid;
    left: -45px;
    top: 17px;
  }

  &__img {
    margin-right: 25px;
    margin-top: 55px;
    height: 70vh;
    overflow: hidden;
    position: relative;
    & > img {
      width: 100%;
    }
  }

  &__link {
    font-family: Aftica Regular;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    padding: 20px 50px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: grey;
    }
  }
}

@media screen and(max-width:1300px) {
  .person {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__name {
      padding-top: 70px;
    }
  }
}
@media screen and(max-width:1100px) {
  .person {
    &__name {
      padding-top: 38px;
    }

    &__name_font {
      font-size: 50px;
    }

    &__link {
      padding: 15px 30px;
    }

    &__btn {
      margin-bottom: 50px;
    }

    &__btn-left,
    &__btn-right {
      width: 15px;
    }
  }
}
@media screen and(max-width:830px) {
  .person {
    display: inline-block;

    &__br-none {
      display: none;
    }

    &__content {
      width: 100%;
      justify-content: space-between;
    }

    &__role {
      font-size: 10px;
      padding: 15px;
      margin: auto;
      text-align: center;
    }

    &__name {
      padding-top: 15px;
      margin: auto;
    }

    &__name_font {
      font-size: 40px;
      min-width: 0;
      margin-bottom: 20px;
    }

    &__btn {
      justify-content: center;
      margin-bottom: 0;

      &-item {
        margin: 5px 10px;
      }

      &-list {
        flex-direction: unset;
      }

      &-left,
      &-right {
        margin: 15px 30px;
      }

      &-arrow_disp-none {
        display: flex;
        justify-content: center;
      }

      &-arrow_disp-inline {
        display: none;
      }
    }

    &__img {
      margin: auto;
      height: 56vh;
    }
  }
}
@media screen and(max-width:700px) {
  .person {
    &__name {
      padding-top: 5px;
    }

    &__name_font {
      font-size: 30px;
    }

    &__role {
      font-size: 10px;
      padding-top: 15px;
    }

    &__btn-item {
      width: 25px;
      height: 25px;
    }

    &__link {
      font-size: 12px;
      padding: 10px 15px;
    }
  }
}
@media screen and(max-width:500px) {
  .person {
    &__name_font {
      font-size: 20px;
    }

    &__role {
      text-transform: unset;
    }

    &__btn-item {
      margin-left: 10px;
    }

    &__link {
      font-size: 10px;
      padding: 7px 12px;
    }

    &__btn-arrow {
      margin-right: 10px;
    }

    &__btn-left,
    &__btn-right {
      margin: 5px;
    }
  }
}
@media screen and(max-width:408px) {
  .person {
    &__name {
      font-size: 20px;
      padding-top: 5px;
    }

    &__name_font {
      display: inline;
      margin-right: 10px;
      font-size: 20px;
    }

    &__role {
      padding-top: 10px;
    }

    &__btn-item {
      width: 20px;
      height: 20px;
    }

    &__link {
      font-size: 8px;
      padding: 5px 10px;
    }
  }
}
@media screen and(height:1366px) and(width:1024px) {
  .person {
    &__name_font {
      font-size: 45px;
    }

    &__role {
      padding-top: 0;
      margin: 100px 0 100px 20vw;
    }

    &__btn-list {
      justify-content: space-between;
      height: 370px;
    }

    &__img {
      height: 63vh;
    }
  }
}
