.person {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 70vh; }
  .person__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    z-index: 1; }
  .person__name {
    font-size: 35px;
    margin-left: 20vw;
    padding-top: 80px; }
    .person__name_font {
      font-family: Nominee Regular;
      font-weight: lighter;
      z-index: 1;
      min-width: 350px;
      letter-spacing: 2px; }
  .person__role {
    font-family: Aftica Regular;
    margin-left: 20vw;
    padding-top: 50px;
    min-width: 175px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: gray;
    z-index: 1; }
  .person__btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px; }
    .person__btn-arrow_disp-inline {
      display: flex;
      margin: 0 auto; }
    .person__btn-left, .person__btn-right, .person__btn-right_disp-none, .person__btn-left_disp-none {
      cursor: pointer;
      background-color: white;
      width: 20px;
      border: none;
      margin: 10px;
      color: grey; }
    .person__btn-left, .person__btn-right {
      display: grid;
      outline: none; }
    .person__btn-arrow_disp-none {
      display: none; }
    .person__btn-left:hover, .person__btn-right:hover {
      border-radius: 2px;
      color: black; }
  .person__btn-list {
    display: flex;
    flex-direction: column; }
  .person__btn-item {
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
    margin-left: 25px;
    width: 35px;
    height: 35px;
    color: grey; }
    .person__btn-item:hover {
      border: 1px grey solid;
      border-radius: 2px; }
  .person__btn-item-active:before {
    content: '';
    width: 5px;
    height: 1px;
    border: 1px black solid;
    color: black; }
  .person__img {
    margin-right: 25px;
    margin-top: 55px;
    height: 70vh;
    overflow: hidden;
    position: relative; }
    .person__img > img {
      width: 100%; }
  .person__link {
    font-family: Aftica Regular;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    padding: 20px 50px;
    background-color: white;
    text-decoration: none;
    font-size: 14px; }
    .person__link:hover {
      color: grey; }

@media screen and (max-width: 1300px) {
  .person__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .person__name {
    padding-top: 70px; } }
@media screen and (max-width: 1100px) {
  .person__name {
    padding-top: 38px; }
  .person__name_font {
    font-size: 50px; }
  .person__link {
    padding: 15px 30px; }
  .person__btn {
    margin-bottom: 50px; }
  .person__btn-left, .person__btn-right {
    width: 15px; } }
@media screen and (max-width: 830px) {
  .person {
    display: inline-block; }
    .person__br-none {
      display: none; }
    .person__content {
      width: 100%;
      justify-content: space-between; }
    .person__role {
      font-size: 10px;
      padding: 15px;
      margin: auto;
      text-align: center; }
    .person__name {
      padding-top: 15px;
      margin: auto; }
    .person__name_font {
      font-size: 40px;
      min-width: 0;
      margin-bottom: 20px; }
    .person__btn {
      justify-content: center;
      margin-bottom: 0; }
      .person__btn-item {
        margin: 5px 10px; }
      .person__btn-list {
        flex-direction: unset; }
      .person__btn-left, .person__btn-right {
        margin: 15px 30px; }
      .person__btn-arrow_disp-none {
        display: flex;
        justify-content: center; }
      .person__btn-arrow_disp-inline {
        display: none; }
    .person__img {
      margin: auto;
      height: 56vh; } }
@media screen and (max-width: 700px) {
  .person__name {
    padding-top: 5px; }
  .person__name_font {
    font-size: 30px; }
  .person__role {
    font-size: 10px;
    padding-top: 15px; }
  .person__btn-item {
    width: 25px;
    height: 25px; }
  .person__link {
    font-size: 12px;
    padding: 10px 15px; } }
@media screen and (max-width: 500px) {
  .person__name_font {
    font-size: 20px; }
  .person__role {
    text-transform: unset; }
  .person__btn-item {
    margin-left: 10px; }
  .person__link {
    font-size: 10px;
    padding: 7px 12px; }
  .person__btn-arrow {
    margin-right: 10px; }
  .person__btn-left, .person__btn-right {
    margin: 5px; } }
@media screen and (max-width: 408px) {
  .person__name {
    font-size: 20px;
    padding-top: 5px; }
  .person__name_font {
    display: inline;
    margin-right: 10px;
    font-size: 20px; }
  .person__role {
    padding-top: 10px; }
  .person__btn-item {
    width: 20px;
    height: 20px; }
  .person__link {
    font-size: 8px;
    padding: 5px 10px; } }
@media screen and (height: 1366px) and (width: 1024px) {
  .person__name_font {
    font-size: 45px; }
  .person__role {
    padding-top: 0;
    margin: 100px 0 100px 20vw; }
  .person__btn-list {
    justify-content: space-between;
    height: 370px; }
  .person__img {
    height: 63vh; } }

/*# sourceMappingURL=style.css.map */
