.news {
  width: 58%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 41.5%;
  overflow: hidden; }
  .news__item {
    display: flex;
    position: relative;
    text-decoration: none; }
    .news__item:nth-child(1n) {
      position: relative;
      cursor: pointer; }
      .news__item:nth-child(1n):hover .news__title {
        color: #b5d2d3; }
      .news__item:nth-child(1n):hover .news__date {
        color: #919191; }
    .news__item:nth-child(1) {
      position: absolute;
      left: 0;
      display: flex;
      width: 39%;
      height: 650px;
      margin: -90px 0 0; }
      .news__item:nth-child(1):hover .news__title {
        color: white; }
      .news__item:nth-child(1):hover .news__img_hover {
        position: absolute;
        height: 100%;
        width: 100%; }
      .news__item:nth-child(1) .news__control-start {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 50%;
        height: 80px;
        left: 0;
        bottom: 0; }
        .news__item:nth-child(1) .news__control-start .news__control-left > svg, .news__item:nth-child(1) .news__control-start .news__control-right > svg {
          color: white;
          padding: 10px;
          cursor: pointer; }
          .news__item:nth-child(1) .news__control-start .news__control-left > svg:hover .news__control-name, .news__item:nth-child(1) .news__control-start .news__control-right > svg:hover .news__control-name {
            color: #b5d2d3; }
        .news__item:nth-child(1) .news__control-start .news__control-left:hover > .svg, .news__item:nth-child(1) .news__control-start .news__control-right:hover > .svg {
          color: #b5d2d3; }
        .news__item:nth-child(1) .news__control-start .news__control-left-disable:hover > .svg, .news__item:nth-child(1) .news__control-start .news__control-right-disable:hover > .svg {
          color: white; }
      .news__item:nth-child(1) .svg {
        width: 12px;
        height: 15px;
        color: white; }
      .news__item:nth-child(1) .news__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 80px;
        background-color: white;
        text-decoration: none;
        z-index: 2;
        cursor: pointer; }
        .news__item:nth-child(1) .news__btn:hover .news__btn-name {
          color: #b5d2d3; }
        .news__item:nth-child(1) .news__btn:hover ~ .news__title {
          color: #b5d2d3; }
        .news__item:nth-child(1) .news__btn:hover .news__img_hover {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          transition: all .2s ease-in-out; }
        .news__item:nth-child(1) .news__btn:hover > svg {
          color: #919191; }
        .news__item:nth-child(1) .news__btn > svg {
          width: 25px;
          height: 12px;
          color: black; }
      .news__item:nth-child(1) .news__btn-name {
        font-family: sans-serif;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: rgba(0, 0, 0, 0.7);
        padding-left: 25px; }
      .news__item:nth-child(1) .news__img {
        position: absolute;
        width: 100%;
        height: 100%;
        background: 50% 50% no-repeat;
        background-size: cover; }
      .news__item:nth-child(1) .news__info {
        position: absolute;
        top: 0;
        left: 0;
        margin: 375px 100px 0 100px; }
        .news__item:nth-child(1) .news__info:after {
          content: '';
          position: absolute;
          width: 100px;
          border-bottom: 4px white solid;
          top: 50%;
          transform: translateX(100%);
          right: 0; }
      .news__item:nth-child(1) .news__title {
        position: relative;
        width: 311px;
        font-size: 27px;
        font-weight: 500;
        letter-spacing: 1px;
        color: white; }
      .news__item:nth-child(1) .news__type-article {
        display: block;
        text-transform: uppercase;
        font-family: Seconda;
        font-weight: bold;
        font-size: 9px;
        letter-spacing: 1.2px;
        margin-bottom: 16px;
        color: white; }
      .news__item:nth-child(1) .news__date {
        display: none; }
    .news__item:nth-child(2):hover .news__img, .news__item:nth-child(7):hover .news__img {
      position: relative;
      height: 100%;
      background-size: 101%;
      background-position: 50% 50%;
      transition: background-size .2s ease-in-out; }
    .news__item:nth-child(2):hover .news__img_hover, .news__item:nth-child(7):hover .news__img_hover {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all .2s ease-in-out; }
    .news__item:nth-child(2) {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 35px;
      width: 44%;
      height: 500px; }
      .news__item:nth-child(2):hover .news__img {
        background-size: cover; }
      .news__item:nth-child(2) .news__img {
        width: 100%;
        height: 410px;
        background-size: cover;
        background-position: 50% 50%; }
      .news__item:nth-child(2) .news__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90px;
        font-family: Seconda; }
      .news__item:nth-child(2) .news__title {
        padding-top: 15px;
        font-size: 16px;
        line-height: 1.5;
        color: black; }
    .news__item:nth-child(3), .news__item:nth-child(4), .news__item:nth-child(5), .news__item:nth-child(6) {
      width: calc(56% - 35px);
      margin-left: 35px;
      height: 100px; }
      .news__item:nth-child(3):hover .news__img_hover, .news__item:nth-child(4):hover .news__img_hover, .news__item:nth-child(5):hover .news__img_hover, .news__item:nth-child(6):hover .news__img_hover {
        position: unset; }
      .news__item:nth-child(3) .news__img, .news__item:nth-child(4) .news__img, .news__item:nth-child(5) .news__img, .news__item:nth-child(6) .news__img {
        min-width: 120px;
        min-height: 100px;
        background-size: cover;
        background-position: 50% 50%; }
      .news__item:nth-child(3) .news__link, .news__item:nth-child(4) .news__link, .news__item:nth-child(5) .news__link, .news__item:nth-child(6) .news__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0 15px; }
    .news__item:nth-child(3) {
      margin-top: 35px; }
    .news__item:nth-child(4) {
      margin: -366px 0px 0px calc(44% + 35px); }
    .news__item:nth-child(5) {
      margin: -233px 0px 0px calc(44% + 35px); }
    .news__item:nth-child(6) {
      margin: -100px 0px 0px calc(44% + 35px); }
    .news__item:nth-child(7) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 410px;
      margin: 35px 0;
      font-family: Seconda; }
      .news__item:nth-child(7):hover .news__img {
        background-size: 100.5%;
        background-position: 50% 50%; }
      .news__item:nth-child(7) .news__img {
        width: 100%;
        height: 360px;
        background-size: 100%;
        background-position: 50% 50%; }
      .news__item:nth-child(7) .news__link {
        height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 25px; }
    .news__item:nth-child(8), .news__item:nth-child(9), .news__item:nth-child(10), .news__item:nth-child(11) {
      display: flex;
      flex-direction: column;
      width: calc(50% - 17.5px);
      height: 300px;
      margin-bottom: 35px; }
      .news__item:nth-child(8):hover .news__img, .news__item:nth-child(9):hover .news__img, .news__item:nth-child(10):hover .news__img, .news__item:nth-child(11):hover .news__img {
        position: relative;
        background-size: 151%;
        background-position: 50% 50%;
        transition: background-size .2s ease-in-out;
        height: 214px; }
      .news__item:nth-child(8):hover .news__img_hover, .news__item:nth-child(9):hover .news__img_hover, .news__item:nth-child(10):hover .news__img_hover, .news__item:nth-child(11):hover .news__img_hover {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out; }
      .news__item:nth-child(8) .news__img, .news__item:nth-child(9) .news__img, .news__item:nth-child(10) .news__img, .news__item:nth-child(11) .news__img {
        width: 100%;
        height: 214px;
        background-size: 150%;
        background-position: 50% 50%; }
      .news__item:nth-child(8) .news__link, .news__item:nth-child(9) .news__link, .news__item:nth-child(10) .news__link, .news__item:nth-child(11) .news__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 84px; }
      .news__item:nth-child(8) .news__title, .news__item:nth-child(9) .news__title, .news__item:nth-child(10) .news__title, .news__item:nth-child(11) .news__title {
        margin-top: 15px; }
    .news__item:nth-child(9), .news__item:nth-child(11) {
      margin-left: 35px; }
  .news__type-article {
    display: none; }
  .news__control-start {
    display: none; }
    .news__control-start:hover ~ .news__img-hover {
      position: unset; }
  .news__btn {
    display: none; }
  .news__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
    color: black; }
  .news__date {
    font-size: 12px;
    font-weight: 500;
    color: rgba(167, 167, 167, 0.9); }
  .news__control-end {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; }
  .news__control-left, .news__control-right {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 5px 0;
    cursor: pointer; }
    .news__control-left:hover .news__control-name, .news__control-right:hover .news__control-name {
      color: #b5d2d3; }
    .news__control-left:hover > svg, .news__control-right:hover > svg {
      color: rgba(167, 167, 167, 0.9); }
    .news__control-left > svg, .news__control-right > svg {
      color: #919191;
      width: 12px;
      height: 15px; }
  .news__control-left-disable:hover .news__control-name, .news__control-right-disable:hover .news__control-name {
    color: #919191; }
  .news__control-left-disable:hover > svg, .news__control-right-disable:hover > svg {
    color: #919191; }
  .news__control-name {
    font-family: sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 10px; }
  .news__control-left-disable {
    color: #919191;
    cursor: no-drop; }
  .news__control-right-disable {
    color: #919191;
    cursor: no-drop; }

@media screen and (max-width: 1172px) {
  .news__item:nth-child(1) .news__info:after {
    display: none; }
  .news__item:nth-child(1) .news__title {
    font-size: 24px; } }
@media screen and (max-width: 1067px) {
  .news__title {
    font-size: 12px; }
  .news__item:nth-child(1) .news__info {
    margin: 375px 100px 0 50px; }
  .news__item:nth-child(1) .news__title {
    font-size: 20px; }
  .news__item:nth-child(2) .news__title {
    font-size: 12px; } }
@media screen and (max-width: 923px) {
  .news {
    width: 100%;
    margin-left: 0; }
    .news__item:nth-child(1) {
      position: unset;
      width: 100%;
      height: 340px;
      margin: 0;
      overflow: hidden; }
      .news__item:nth-child(1) .news__img {
        position: relative; }
      .news__item:nth-child(1):hover .news__img_hover {
        height: 340px;
        width: calc(100%); }
      .news__item:nth-child(1):nth-child(1) .news__info {
        margin: 190px auto 0;
        position: absolute;
        width: calc(100% - 60px);
        left: 30px; }
      .news__item:nth-child(1):nth-child(1) .news__title {
        width: 100%;
        text-align: center; }
      .news__item:nth-child(1):nth-child(1) .news__type-article {
        text-align: center; }
      .news__item:nth-child(1):nth-child(1) .news__btn {
        bottom: 0;
        height: 60px; }
      .news__item:nth-child(1):nth-child(1) .news__control-start {
        bottom: 0;
        height: 60px; } }
@media screen and (max-width: 548px) {
  .news__item:nth-child(1n) {
    margin: 10px 10px 50px;
    padding: 10px;
    width: 100%;
    height: 190px;
    position: relative;
    overflow: initial; }
    .news__item:nth-child(1n):hover .news__date {
      color: #919191; }
    .news__item:nth-child(1n):hover .news__img {
      background-size: cover; }
    .news__item:nth-child(1n):hover .news__img_hover {
      background-color: rgba(0, 0, 0, 0.2); }
    .news__item:nth-child(1n) .news__title {
      font-size: 14px;
      color: black;
      text-align: left;
      margin-left: 0;
      font-weight: normal; }
    .news__item:nth-child(1n) .news__date {
      color: rgba(167, 167, 167, 0.9);
      margin-left: 0; }
    .news__item:nth-child(1n) .news__type-article {
      display: none; }
    .news__item:nth-child(1n) .news__img {
      width: 100%;
      min-width: 120px;
      min-height: 190px;
      background-size: cover; }
    .news__item:nth-child(1n) .news__img-hover {
      display: none; }
    .news__item:nth-child(1n) .news__btn {
      display: none; }
    .news__item:nth-child(1n) .news__control-start {
      display: none; }
    .news__item:nth-child(1n) > .news__info {
      display: flex;
      flex-direction: column;
      margin: 0;
      position: absolute;
      max-width: 100%;
      height: 50px; }
  .news__item:nth-child(1):nth-child(1):nth-child(1):hover .news__title {
    color: #b5d2d3; }
  .news__item:nth-child(1):hover .news__img_hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
  .news__item:nth-child(1):hover .news__info {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 50px; }
  .news__item:nth-child(1):nth-child(1) .news__info {
    margin: 0;
    height: 50px;
    top: 200px;
    left: 10px;
    width: 100%; }
  .news__item:nth-child(1) .news__link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    height: 100px; }
  .news__item:nth-child(1):nth-child(1) .news__title {
    text-align: unset;
    font-size: 14px;
    color: black; }
  .news__item:nth-child(1) .news__date {
    display: block;
    color: rgba(167, 167, 167, 0.9); }
  .news__item:nth-child(2) .news__info {
    bottom: -50px; }
  .news__item:nth-child(2) .news__link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    height: 50px; }
    .news__item:nth-child(2) .news__link:hover .news__title {
      color: #b5d2d3; }
  .news__item:nth-child(2):hover .news__img_hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .news__item:nth-child(2) .news__title {
    font-size: 14px;
    color: black;
    text-align: left;
    padding-top: 0; }
  .news__item:nth-child(2) .news__date {
    display: block;
    color: rgba(167, 167, 167, 0.9); }
  .news__item:nth-child(3):hover .news__img_hover, .news__item:nth-child(4):hover .news__img_hover, .news__item:nth-child(5):hover .news__img_hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
  .news__item:nth-child(3) .news__title, .news__item:nth-child(4) .news__title, .news__item:nth-child(5) .news__title {
    margin-left: 0; }
  .news__item:nth-child(3) .news__date, .news__item:nth-child(4) .news__date, .news__item:nth-child(5) .news__date {
    margin-left: 0;
    color: rgba(167, 167, 167, 0.9); }
  .news__item:nth-child(3) .news__info, .news__item:nth-child(4) .news__info, .news__item:nth-child(5) .news__info {
    height: 50px;
    bottom: -50px; }
  .news__item:nth-child(3) .news__link, .news__item:nth-child(4) .news__link, .news__item:nth-child(5) .news__link {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0; }
  .news__item:nth-child(6), .news__item:nth-child(7), .news__item:nth-child(8), .news__item:nth-child(9), .news__item:nth-child(10), .news__item:nth-child(11) {
    display: none; } }

/*# sourceMappingURL=style.css.map */
