.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease-in-out;

  &__on-scroll {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &__wrapp {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__item_fixed {
    left: 88px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Seconda;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
  }

  &__item_fixed:hover {
    color: rgba(167, 167, 167, 0.9);
  }

  &__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Seconda;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    z-index: 4;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 68px;

    &-scroll {
      top: 68px;
      padding-top: 0;
    }
  }

  &__item_unfixed {
    text-decoration: none;
    color: black;
    margin: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;

    &:first-child {
      margin-top: 5px;
    }

    &:last-child {
      margin-bottom: 30px;
    }

    &:hover {
      color: rgba(167, 167, 167, 0.9);
    }
  }

  &__item-active {
    color: #919191;
  }

  &__item_fixed:hover,
  &__item_unfixed:hover {
    text-decoration: none;
  }

  &__input {
    padding-left: 30px;
    border: none;
    max-height: 100%;
    width: 225px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: rgba(167, 167, 167, 0.9);
  }

  &__button {
    border: none;
    width: 35px;
    height: 100%;
    outline: none;
    cursor: pointer;
  }
  & .menu-btn {
    z-index: 10;
  }
}

@media screen and(max-width:1024px) {
  .header {
    & > .search-form {
      width: 150px;
    }

    &__item_fixed {
      margin-left: 30px;
    }

    &__input {
      width: 120px;
    }
  }
}

@media screen and(max-width:820px) {
  .header {
    justify-content: center;

    & > .search-form {
      display: none;
    }

    &__item_fixed {
      display: none;
    }

    &__burger-menu {
      position: absolute;
      left: 0;
    }
  }
}

@media screen and(max-width: 580px) {
  .header__logo {
    margin: 10px;
    font-size: 26px;
  }
  .menu-btn {
    margin: 10px 0 10px 20px;
  }
}

@media screen and(max-width: 480px) {
  .header {
    &__list-scroll {
      top: 52px;
      padding-top: 16px;
    }
  }
}
