.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__menu {
    display: flex;
    align-items: center;
  }
  
  &__item_fixed{
    left: 88px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Seconda ;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
  }

  &__item_fixed:hover{
    color: grey;
  }
  
  &__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-family: Seconda ;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    z-index: 4;
  }
  
  &__logo, &__item_unfixed{
    text-decoration: none;
    color: black;
    margin: 15px;
    text-transform: uppercase;
  }

  &__item_unfixed:hover{
    color: grey;
  }

  &__logo {
    font-family: Toledo serial;
    display:inline-block;
    transform: scale(1.2, 1);
    letter-spacing: 1px;

    &:hover{
      color: grey;
    }
  }

  &__logo-spasing {
    margin-left: 4px;
  }

  &__item_fixed:hover, &__item_unfixed:hover{
    text-decoration: none;
  }

  &__item_unfixed:first-child{
    margin-top: 0;
  }

  &__search-form {
    display: flex;
    margin-right: 25px;
    width: 280px;
    height: 35px;
    box-sizing: border-box;
    border-left: 1px black solid;
  }

  &__input {
    padding-left: 30px;
    border: none;
    max-height: 100%;
    width: 225px;
    outline: none;
  }

  &__button {
    border: none;
    width: 35px;
    height: 100%;
    outline: none;
    cursor: pointer;
  }
}

@media screen and(max-width:1024px) {
  .header{
    &__item_fixed{
      margin-left: 30px
    }

    &__input {
      width: 120px;
    }

    &__search-form{
      width: 150px;
    }

  }

}

@media screen and(max-width:820px) {
  .header{
    justify-content: center;

    &__item_fixed{
      display: none;
    }

    &__search-form{
      display: none;
    }

    &__burger-menu {
      position: absolute;
      left: 0;
    }
  }
}

@media screen and(max-width: 580px){
  .header__logo{
    margin: 10px;
    font-size: 26px;
  }
  .menu-btn{
    margin: 10px 0 10px 10px;
  }
}
