body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  position: relative;
  &__close-menu,
  .header__open-menu {
    position: absolute;
    width: 100vw;
    height: 150vmax;
  }

  &__close-menu {
    display: none;
  }

  &__open-menu {
    display: block;
  }
}

.menu {
  &-btn {
    margin: 20px 0 20px 20px;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover & span,
    & span::before,
    & span::after {
      background-color: #919191;
    }

    & span,
    & span::before,
    & span::after {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: black;
    }
    & span::before,
    & span::after {
      content: "";
      display: block;
      transition: 0.2s;
    }
    & span::before {
      transform: translateY(-6px);
    }
    & span::after {
      transform: translateY(6px);
    }

    &_active span:before {
      transform: rotate(-35deg);
      width: 10px;
      transform-origin: left bottom;
    }
    &_active span:after {
      transform: rotate(35deg);
      width: 10px;
      transform-origin: left top;
    }
  }

  &-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-nav {
    &-nav {
      background-color: #fff;
      height: 50px;
    }
    &-nav__link {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      margin-right: 20px;
    }
    &-nav__link {
      transition: 0.5s;
      transform-origin: right center;
      transform: translateX(50%);
      opacity: 0;
    }
    &-nav__link_active {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
