.footer{

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &>.search-form{
      margin-right: 0;
    }
  }

  &__date {
    font-size: 10px;
    color: rgba(167,167,167,.9);
    font-family: "Aftica Regular";
  }

  &__divider {
    color: rgba(167,167,167,.9);
    width: 95%;
    margin: 0 auto 20px;
  }

  &__buttons{

    &>a{
      padding: 5px;
      margin: 10px;
    }
  }
}

@media screen and(max-width:740px) {
  .footer__date {
    max-width: 243px;
  }
}

@media screen and(max-width:480px) {
  .footer{
    &__date {
      max-width: 174px;
    }

    &__section{
      padding: 0 5px;
    }

    &__buttons > a {
      padding: 5px;
      margin: 5px;
    }
  }
}
