@font-face {
  font-family: Toledo serial;
  src: url("fonts/toledo-serial/toledo-serial-bold.ttf");
}

@font-face {
  font-family: Seconda ;
  src: url("fonts/seconda-soft/seconda-soft-light.ttf");
}

@font-face {
  font-family: Helvetica ;
  src: url("fonts/helvetica/helveticaneuecyr-light.otf");
}

@font-face {
  font-family: Sweet Sans ;
  src: url("fonts/sweet-sans/SweetSansSC.otf");
}

@font-face {
  font-family: Nominee Regular ;
  src: url("fonts/nominee-regular/17730.ttf");
}

@font-face {
  font-family: Aftica Regular ;
  src: url("fonts/aftica-regular/FontsFree-Net-AftikaRegular.ttf");
}

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
