@media screen and(max-width:1024px) {
  .header{
    &__item_fixed{
      margin-left: 30px
    }

    &__input {
      width: 120px;
    }

    &__search-form{
      width: 150px;
    }

  }

}

@media screen and(max-width:820px) {
  .header{
    &__item_fixed{
      display: none;
    }

    &__search-form{
      display: none;
    }

    &__logo {
      margin-right: 30px;
    }
  }
}